snippet desc "" b
(describe "${1:Description}"
  $2)
endsnippet

snippet it "" i
(it "${1:should be true}"
  $2)
endsnippet

snippet should "" i
(should ${1:true})
endsnippet

snippet facts "midje facts block" b
(facts "${1:facts specification title}"
  $2)
endsnippet

snippet fact "midje fact" b
(fact "${1:fact title}"
  $2 => $3)
endsnippet
