snippet fpr "" b
fmt.Println(${1})
endsnippet

snippet timer "time a go block" b
start := time.Now()

${VISUAL: #asdf}

elapsed := time.Since(start)
log.Printf("${0:name} took %s", elapsed)
endsnippet

snippet iferr ""
if err != nil {
	$0
}
endsnippet

snippet fprstruct ""
fmt.Printf("%+v", ${0:structName})
endsnippet
